---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Slides</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/www/">World Wide Web</a>
        </li>
        <li class="submenu-item">
          <a href="/website/">Web Browser & Server</a>
        </li>
        <li class="submenu-item">
          <a href="/bloggy">Blogs And Newsgroups</a>
        </li>
        <li class="submenu-item">
          <a href="/hwe">HTML, Web Addresses & Email Addresses</a>
        </li>
        <li class="submenu-item">
          <a href="/urls">Unifrom Resourse Locator</a>
        </li>
        <li class="submenu-item">
          <a href="/prots">Internet Protocols</a>
        </li>
        <li class="submenu-item">
          <a href="/ftprlp">FTPs & RLPs</a>
        </li>
        <li class="submenu-item">
          <a href="/names">Names</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
